GEMINI_API_KEY=xxxxxx
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=rag_documents
MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=ragadmin
MINIO_SECRET_KEY=ragadmin
MINIO_BUCKET_NAME=rag-documents
MINIO_SECURE=False