fastapi 
uvicorn 
faiss-cpu 
sentence-transformers 
pillow 
docling --extra-index-url https://download.pytorch.org/whl/cpu
python-multipart
huggingface_hub[hf_xet]
python-dotenv 
websockets
google.genai==1.68.0
qdrant_client
miniopy-async
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
static-ffmpeg
pydub