MINIO_ROOT_USER=ragadmin
MINIO_ROOT_PASSWORD=ragadmin
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_NAME=rag-documents
MINIO_SECURE=False

QDRANT_HOST=qdrant
QDRANT_PORT=6333
QDRANT_COLLECTION=rag_documents

BACKEND_PORT=8005
FRONTEND_PORT=80

GEMINI_API_KEY=xxxxxxxxxxxxxxxxx

QUERY_RAG_FRONTEND_URL=http://localhost:${FRONTEND_PORT}

VITE_WS_CHAT_ENDPOINT=ws://localhost:${BACKEND_PORT}/rag/chat
VITE_API_ENDPOINT=http://localhost:${BACKEND_PORT}